.article-1 {
    margin-bottom: 60px;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: start;

    @include size1024 {
        grid-auto-flow: row;
    }
}

.article-2 {
    .text {
        margin-top: 32px;
        color: $base-text-gray;
    }
    .ui-btn {
        margin-top: 32px;
    }
}
