 .ui-btn {
    border: none;
    cursor: pointer;
}

.ui-btn.ui-btn-default {
    background: $base-color-2;
    color: $base-color;
    padding: 12px 24px;
    border-radius: 8px;
}

.ui-btn.ui-btn-arrow {
    background: $base-color;
    border-radius: 30px;
    padding: 8px 8px 8px 32px;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: max-content min-content;
    justify-content: space-between;
    gap: 16px;

    @include size768 {
        padding: 2px 2px 2px 20px;
    }

    span {
        color: white;
    }

    svg {
        width: 44px;
        height: 44px;
    }

    &.ui-btn-arrow_white {
        background: white;
        span {
            color: $base-color;
        }
    }

    &.ui-btn-arrow_transparent {
        background: $base-color-2;
        span {
            color: $base-color;
        }
    }
}

.ui-slider-btn {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    align-items: center;
    justify-content: start;
    svg {
        height: 44px;
        width: 44px;
    }
}
