.page-title {
    font-family: $--base-font-family-semi-bold;
    font-size: 82px;
    margin-bottom: 48px;
}

.title-1 {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2.6px;
    font-family: $--base-font-family-semi-bold, serif;
    margin-bottom: 18px;

    @include size1440 {
        font-size: 44px;
    }

    @include size768 {
        font-size: 28px;
    }

    span {
        color: $base-color;
    }
}
