// Body
$body-bg: #fff;

//Base color
$base-color: #45A7F5;
$base-color-2: #E3F3FF;
$base-text-color: #18181D;
$base-gray: #F0F1F5;
$base-text-gray: #888CA2;

// Typography
$--base-font-family: 'Commissioner 400';
$--base-font-family-medium: 'Commissioner 500';
$--base-font-family-semi-bold: 'Commissioner 600';
