@font-face {
    font-family: "Commissioner 400";
    src: url("http://lawyer.localhost/fonts/Commissioner/Commissioner-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Commissioner 500";
    src: url("http://lawyer.localhost/fonts/Commissioner/Commissioner-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Commissioner 600";
    src: url("http://lawyer.localhost/fonts/Commissioner/Commissioner-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
