body {
    background: $body-bg;
    font-family: $--base-font-family;
    color: $base-text-color;

    a {
        text-decoration: none;
        color: $base-text-color;
        transition: .3s;

        &:hover {
            color: $base-color;
        }
    }
    p {
        color: $base-text-color;
        margin-bottom: 30px;
    }
    span {
        color: $base-text-color;
        transition: .3s;
    }
}

#shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: black;
    opacity: 0;
    top: 0;
    left: 0;
    transition: .3s;
    pointer-events: none;

    &.active {
        opacity: .5;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;

    @include size1440 {
        max-width: 1024px;
        padding: 0 32px;
    }

    @include size1024 {
        max-width: 768px;
    }

    @include size768 {
        max-width: unset;
        padding: 0 20px;
    }

    //@include size375 {
    //
    //}
}
