body {
    background: $body-bg;
    font-family: $--base-font-family;

    a {
        text-decoration: none;
        color: $base-text-color;
        transition: .3s;

        &:hover {
            color: $base-color;
        }
    }
    p {
        color: $base-text-color;
    }
    span {
        color: $base-text-color;
        transition: .3s;
    }
}
