@import "menu";
@import "services.menu";

header {
    background: white;
    position: relative;
    z-index: 30;

    .header {
        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        min-height: 60px;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 8px;
        position: relative;
        z-index: 30;
        background: white;

        .logo {
            height: 28px;
            width: 150px;
        }

        .header__left {
            display: grid;
            grid-auto-flow: column;
            gap: 20px;
            align-items: center;
        }

        .header__right {
            display: grid;
            grid-auto-flow: column;
            gap: 28px;
            align-items: center;
            height: 100%;
        }

        .header__phone-lang {
            display: grid;
            grid-auto-flow: column;
            gap: 20px;
            align-items: center;
        }

        .header__choose-city span, .header__number, .header__lang {
            color: #888CA2
        }

        @include size1024 {
            .header__number, .header__lang {
                display: none;
            }
        }

        .header__menu-toggler {
            display: none;
            border-radius: 22px;
            border: 2px solid #93919110;
            padding: 12px 16px;
            height: 100%;

            @include size768 {
                padding: 8px 16px;
            }

            @include size1440 {
                display: grid;
                grid-auto-flow: row;
                align-content: space-between;
            }

            .header__menu-toggler-1,
            .header__menu-toggler-2,
            .header__menu-toggler-3, {
                width: 32px;
                height: 2px;
                background: #9094A8;
            }
        }

        .header__choose-city {
            display: grid;
            justify-content: start;
            grid-auto-flow: column;
            gap: 4px;
            align-items: center;

            @include size768 {
                display: none;
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .header__call {
            @include size768 {
                display: none;
            }
        }
    }
}
