@import "menu";
@import "services.menu";

header {
    background: white;
    position: relative;
    z-index: 30;

    .header {
        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        min-height: 60px;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 8px;
        position: relative;
        z-index: 30;
        background: white;

        .logo {
            height: 28px;
            width: 150px;
        }

        .header__left {
            display: grid;
            grid-auto-flow: column;
            gap: 20px;
            align-items: center;
        }

        .header__right {
            display: grid;
            grid-auto-flow: column;
            gap: 28px;
            align-items: center;
        }

        .header__phone-lang {
            display: grid;
            grid-auto-flow: column;
            gap: 20px;
            align-items: center;
        }

        .header__choose-city span, .header__number, .header__lang {
            color: #888CA2
        }

        .header__choose-city {
            display: grid;
            justify-content: start;
            grid-auto-flow: column;
            gap: 4px;
            align-items: center;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
