.advantages {
    .advantages__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @include size1440 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include size768 {
            grid-template-columns: 1fr;
        }

        .advantages__item {
            background: $base-gray;
            border-radius: 16px;
            padding: 20px;

            .advantages__title {
                font-family: $--base-font-family-medium;
                font-size: 24px;
                margin-top: 32px;

                @include size768 {
                    font-size: 20px;
                }
            }

            .advantages__text {
                color: $base-text-gray;
            }
        }
    }
}
