.advantages {
    .advantages__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @include size1440 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include size768 {
            grid-template-columns: 1fr;
        }

        .advantages__item {
            background: $base-gray;
            border-radius: 16px;
            padding: 20px;

            .advantages__image {
                margin-bottom: 32px;
                background: white;
                padding: 8px;
                border-radius: 4px;
                display: inline-block;

                @include size1440 {
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }

                @include size768 {
                    margin-bottom: 24px;
                }
            }

            .advantages__title {
                font-family: 'Commissioner 500';
                font-size: 24px;

                @include size768 {
                    font-size: 20px;
                }
            }

            .advantages__text {
                color: $base-text-gray;
            }
        }
    }
}
