.articles {
    .articles__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 16px;
        @include size1440 {
            grid-template-columns: repeat(3,1fr);
        }
        @include size1024 {
            grid-template-columns: repeat(2,1fr);
        }
        @include size768 {
            grid-template-columns: 1fr;
        }
        .articles-item {
            background: $base-gray;
            border-radius: 14px;
            .articles-item__wrapper {
                display: grid;
                grid-template-rows: auto min-content;
                justify-content: space-between;
                height: 100%;
            }
            .articles-item__top {
                padding: 8px 8px 0 8px;
                img {
                    border-radius: 14px;
                    overflow: hidden;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .articles-item__center {
                padding: 16px 20px 20px 20px;

                .articles-item__person {
                    display: grid;
                    grid-auto-flow: column;
                    gap: 8px;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 16px;
                    img {
                        border-radius: 100%;
                        overflow: hidden;
                    }
                }
                .articles-item__text {
                    font-size: 20px;
                    font-family: $--base-font-family-medium;
                }
            }
            .articles-item__bottom {
                padding: 0 20px 20px 20px;
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;
                .articles-item__date {
                    color: $base-text-gray;
                    font-size: 14px;
                }
                .articles-item-icons {
                    display: grid;
                    justify-content: start;
                    gap: 16px;
                    grid-auto-flow: column;
                    font-size: 14px;
                    .articles-item-icons__item {
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        span {
                            color: $base-text-gray;
                        }
                    }
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
    .articles__footer {
        text-align: center;
        .ui-btn {
            margin-top: 16px;
        }
    }

}
