.banner {

    @include size768 {
        .container {
            padding: 0;
        }
    }

    .banner__slide {
        position: relative;
        height: 758px;
        overflow: hidden;

        @include size1440 {
            height: 700px;
        }

        @include size1024 {
            height: 573px;
        }

        img {
            position: absolute;
            width: 100%;
        }
    }

    .banner__inner {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 10;
        display: inline-grid;
        grid-auto-flow: row;
        gap: 32px;

        @include size768 {
            top: 70px;
            left: 20px;
        }

        .banner__title {
            color: white;
            font-family: 'Commissioner 600';
            font-size: 82px;
            line-height: 85%;
            letter-spacing: -4.1px;

            @include size1440 {
                font-size: 64px;
            }

            @include size768 {
                font-size: 36px;
                letter-spacing: -1.8px;
            }

            span {
                color: white;
                opacity: 40%;
            }
        }
    }
}
