.cities {
    background: $base-gray;
    padding-bottom: 96px;
    padding-top: 100px;
    .cities__list {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        .cities__item {
            background: #fff;
            border-radius: 10px;
            padding: 16px 20px;
        }
    }
}
