.form-2 {
    margin-top: 96px;
    background: $base-color;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto max-content;
    justify-content: space-between;
    gap: 40px;
    border-radius: 16px;
    padding: 48px;
    color: white;

    .form-2__title {
        font-size: 52px;
        color: white;
        font-family: 'Commissioner 600';
        span {
            color: rgba(255, 255, 255, 0.40);
        }
    }

    .form-2__right {
        form {
            display: grid;
            grid-auto-flow: row;
            gap: 16px;
        }
    }

    input {
        background: rgba(255, 255, 255, 0.20);
        border-radius: 8px;
        border: none;
        padding: 16px;
        color: white;

        &::placeholder {
            color: white;
        }
    }

    .form-2__sign {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;

        svg {
            height: 20px;
            width: 20px;
        }

        p {
            font-size: 14px;
            color: white;
            padding-right: 88px;

            a {
                color: white;
            }
        }
    }
}
