.howItWork {

    @include size1024 {
        .container {
            background: $base-gray;
            border-radius: 16px;
            padding-top: 65px;
            padding-bottom: 65px;
        }
    }

    .howItWork__wrapper {
        & > div {
            background: $base-gray;
            border-radius: 16px;
            padding-top: 96px;
            padding-bottom: 96px;

            @include size1024 {
                background: transparent;
            }

            &:nth-child(1) {
                padding-left: 40px;
            }
            &:nth-child(2) {
                padding-right: 40px;
            }

            @include size1024() {
                padding: 0;

                &:nth-child(1) {
                    padding-left: 0;
                }
                &:nth-child(2) {
                    padding-right: 0;
                }
            }
        }
    }

    ul {
        display: grid;
        grid-auto-flow: row;
        gap: 16px;

        li {
            background: white;
            border-radius: 16px;
            padding: 20px;

            .howItWork__itemNumber {
                color: $base-text-gray;
                margin-bottom: 64px;

                @include size1440 {
                    margin-bottom: 32px;
                }

                @include size768 {
                    margin-bottom: 24px;
                }
            }

            .howItWork__itemTitle {
                font-family: $--base-font-family-medium;
                font-size: 24px;
            }

            .howItWork__itemText {
                color: $base-text-gray;
                font-size: 14px;
            }
        }
    }
}
