.services {
    .services__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-bottom: 16px;

        .services__item {
            background: #f0f1f5;
            border-radius: 10px;
            min-height: 85px;
            display: grid;
            grid-auto-flow: column;
            gap: 16px;
            justify-content: start;
            align-items: center;
            padding-left: 20px;

            &:hover {
                span {
                    color: $base-color;
                }
            }
            span {
                font-size: 20px;
            }
            svg {
                width: 44px;
                height: 44px;
            }
        }
    }
    .services__footer {
        display: grid;
        justify-content: center;
    }
}
