.services {
    .services__head-row {
        padding-top: 90px;
        padding-bottom: 60px;
        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        align-items: start;
    }
    .services__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding-bottom: 48px;

        .services__item {
            background: #f0f1f5;
            border-radius: 10px;
            min-height: 85px;
            display: grid;
            justify-content: start;
            align-items: center;
            padding-left: 80px;
            &:hover {
                span {
                    color: $base-color;
                }
            }
            span {
                font-size: 20px;
            }
        }
    }
}
